@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins';
    margin: 0;
}

h1{
    text-align: center;
}

/* Boîte avec tous les billets */

section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.billets{
    border: #18222b solid 1px;
    border-radius: 5px;
    padding: 20px;
}

.billets .titre{
    margin: 0;
}

.date{
    margin: 0;
    font-size: 0.8rem;
    font-weight: normal;
}

.bouton{
    background-color: #18222b;
    border-radius: 5px;
    color: white;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 5vh;
}

.bouton a{
    color: white;
    text-decoration: none;
}