@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins';
}
h1, h2{
    text-align: center;
}
h1, h2, p{
    color: #263644;
}

.entete{
    display: flex;
    justify-content: space-between;
}

.entete a{
    display: block;
    height: max-content;
    margin: 0;
}

.entete h1{
    margin: 0;
}

.article{
    border: #263644 solid 1px;
    border-radius: 5px;
    padding: 20px;
}
a{
    text-decoration: none;
    padding: 8px;
    background-color: #18222b;
    border-radius: 5px;
    color: white;
}
section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.archive{
    text-align: center;
    font-size: 1.5rem;
}