@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: "Poppins";
    margin: 0;
}

form {
    width: 600px;
}

fieldset {
    border: solid 1px #18222b;
}

legend {
    background-color: #18222b;
    border-radius: 5px;
    color: white;
    padding: 8px 20px;
}

.label {
    display: inline-block;
    text-align: right;
    width: 190px;
}

textarea {
    font-family: "Montserrat Alternates", Arial, Helvetica, sans-serif;
    border: 1px solid #18222b;
    border-radius: 5px;
    width: 100%;
}

input[type="submit"] {
    background-color: #18222b;
    border-radius: 5px;
    font-family: "Montserrat Alternates", Arial, Helvetica, sans-serif;
    color: white;
    width: 200px;
    height: 30px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all ease 400ms;
}

input[type="submit"]:hover {
    background-color: white;
    color: #18222b;
    border: 1px solid #18222b;
    border-radius: 5px;
}

::placeholder {
    color: rgb(53, 108, 145);
    opacity: 1;
}

:focus:not(input[type="radio"]) {
    border: none;
    outline: #18222b solid 2px;
    transition: ease 400ms;
}

.center {
    text-align: center
}

/* Boîte avec tous les billets */

section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.billets{
    border: #18222b solid 1px;
    border-radius: 5px;
    padding: 20px;
}

.billets .titre{
    margin: 0;
}

.date{
    margin: 0;
    font-size: 0.8rem;
    font-weight: normal;
}