body {
    font-family: "Montserrat Alternates",Arial, Helvetica, sans-serif;
}
h1, h2{
    text-align: center;
}
h1, h2, p{
    color: #263644;
}

.article{
    border: #263644 solid 1px;
    padding: 20px;
}
.commentaire{
    border: #263644 solid 1px;
    color: #263644;
    padding: 20px;
}
.commentaire p {
    text-align: left;
}
.commentaire h3{
    text-align: left;
}
a{
    text-decoration: none;
    padding: 5Px;
    border: #263644 solid 1px;
    border-radius: 5px;
    color: #263644;
}

/* styles formulaire */
.center {
    text-align: center
}
.obligatoire {
    color: red;
}
form {
    width: 600px;
}

legend {
    background-color: #18222b;
    color: white;
    padding: 8px 20px;
}

fieldset {
    border: solid 1px #18222b;
}

.label {
    display: inline-block;
    text-align: right;
    width: 190px;
}

textarea {
    font-family: "Montserrat Alternates", Arial, Helvetica, sans-serif;
    border: 1px solid #18222b;
    width: 100%;
}

input[type="submit"] {
    background-color: #18222b;
    font-family: "Montserrat Alternates", Arial, Helvetica, sans-serif;
    color: white;
    width: 200px;
    height: 30px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all ease 400ms;
}

input[type="submit"]:hover {
    background-color: white;
    color: #18222b;
    border: 1px solid #18222b;
}

input:required {
    border: 1px solid #e52c2c;     
}

input:required:valid {
        border: 1px solid #1a961a;
}
::placeholder {
    color: rgb(0, 153, 255);
    opacity: 1;
}

:focus:not(input[type="radio"]) {
    border: none;
    outline: #18222b solid 2px;
    transition: ease 400ms;
}